
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100%;
}

#map-wrapper{
    position: relative;
}

.recommendation-card{
    position: absolute;
    bottom: -70%;
    z-index: 99;
    height: 80%;
    background: white;
    left: 5%;
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    /*background-color: rgba(76,74,98,.8);*/
    /*padding: 20px;*/
    border-radius: 5px;
    text-align: center;
    /*color: #fff;*/
}

.recommendation-places{
    font-family: 'Kite One', sans-serif;
    font-size: 48px;
    margin-top: 50px;
}

.recommendation-card ul {
    list-style: none;
    padding-left: 0 !important;
    margin-top: 50px;}

.recommendation-card ul li {
  /*height: 80px;*/
}

.recommendation-card ul li img {
    height: 200px;
    width: 100%;
}

.place-image{
    width: 100%;
}

/*wrapper for image*/
.image-wrapper {
    height: 45%;
    overflow: hidden;
}

.image-wrapper img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

.place-name{
    font-size: 48px;
    position: relative;
    color: #101010;
    left: 18px;
}
