
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100%;
}

#map-wrapper{
    position: relative;
}

.recommendation-card{
    position: absolute;
    bottom: -60%;
    z-index: 99;
    height: 70%;
    background: white;
    left: 5%;
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    padding: 20px;
}