html,body{
  padding: 0;
  margin: 0;
}


.random-space .jumbotron{
  height: 1350px;
  background-color: rgba(179,186,255,.7);
}

.menu-button .btn {
  text-align: center;
  margin-top: 150px;
  padding: 40px 0;
  margin-left: 200px !important;
  width: 600px;
}

.slide-up .menu-page {
  height: 725px;
  margin: 0 80px;
  background-color: grey;
  display: none;
}
